@import "../../styles/variaveis";

.container {
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

.botao_container {
  color: $colorLetra-Padrao-WTF;
  position: relative;
  width: fit-content;
  height: 40px;
  padding: 2px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, $corBgBotaoClaro-WTF, $corBgBotaoEscuro-WTF);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: $corBgBotaoFundo-WTF;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 0.5px $corBgBotaoShadowClara-WTF;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, $corBgBotaoAzulClara-WTF, $corBgBotaoAzulEscuro-WTF);
    z-index: 2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);


  }



}

}

.botao {

letter-spacing: 2px;
display: flex;
justify-content: center;
align-items: center;


text-align: center;
width: fit-content;


width: calc(100% - 5%);
height: calc(100% - 25%);

z-index: 5000;
border: none;
border-radius: 2px;
box-shadow:  inset 1px 1px 5px $corBgBotaoAzulClara-WTF,
inset 2px -2px 5px $corBgBotaoAzulEscuro-WTF;

background-image: linear-gradient(to left, $corBgBotaoAzulEscuro-WTF, $corBgBotaoAzulClara-WTF, $corBgBotaoAzulEscuro-WTF);
cursor: pointer;

&:active {
  background-image: linear-gradient(to left, $corBgBotaoAzulClara-WTF , $corBgBotaoAzulEscuro-WTF , $corBgBotaoAzulClara-WTF );
}


.texto{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  font-family: $fonte-normal-WTF;
  width: 100%;
  height: inherit;
  color: white;
  font-size: 1em;
  white-space: nowrap;

  &:hover {
  text-shadow: inset 0px 1px 2px $corBgBotaoAzulClara-WTF,
    inset 1px 0px 2px $corBgBotaoAzulClara-WTF;

  color: $cyberblue;
}

}

}
