@import '../../../../styles/variaveis';


.container_Card {
  width: 306px;
  height: 440.30px;
  border-radius: 8px;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
}

.imgFundo {
  position: absolute;
  z-index: 0;
  width: 306px;
  height: 440.30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_base {
  position: absolute;
}

.card_personagem {
  transform: translateZ(20px);
}

//Alterar o Herói
.card_personagem_imagem {
  width: 312px;
  transform: translate(-10px, -30px);
  position: absolute;

}


.card_faixa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 440.30px;
  position: relative;
  transform: translateZ(60px);
}

.faixaContainer {
  position: absolute;
  top: 42px;
  right: -149px;
  width: 306px;

}

.nome_container {
  transform: translate(2px, 21px);
  position: absolute;
}

//Altera o MiniCard
.miniCard_container {
  transform: translateZ(40px);
  position: relative;
  width: 100%;
  height: 100%;

  opacity: 1;
  z-index: 10;

}

.miniCard {
  width: 285px;
  height: fit-content;
  transform: translate(11px, 15px);
}



//-------------------------------------------------------------------------



//Altera o MiniCard

.nome {
  font-size: 18px;
  color: $cyberblue;
  font-family: $fonte-normal-WTF-Azul;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;

  width: fit-content;
  height: fit-content;
  z-index: 30;
  height: 20px;
  left: -157px;
  top: 188px;
  width: 306px;

  overflow: hidden;
  /* Oculta qualquer texto que exceda o espaço */
  white-space: nowrap;
  /* Impede que o texto seja quebrado em várias linhas */
  text-overflow: ellipsis;
}


.frase {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: fit-content;
  text-align: center;
  padding: 0px 20px;
  bottom: 35px;
  left: 10px;
  position: absolute;
  font-family: $fonte-normal-WTF-Azul;
  color: rgb(13, 164, 235);
  font-size: 1.8em;
}