@import '../../styles/variaveis';


.container_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

}

.container {
  width: 60vw;
  height: 60vh;
  display: flex;
  background-color: $colorBg-WTF;
  position: relative;
  border-radius: 10px;
  box-shadow: -4px -4px 10px rgba($colorBg-WTF, 0.5),
    4px 4px 10px rgba(black, 0.25), -4px -4px 20px rgba($colorBg-WTF, 0.5),
    4px 4px 25px rgba(black, 0.25);

  &_imagem {
    width: 60vw;

    position: relative;
    border-radius: 10px;
  }


  &_imagem::after {
    content: "";
    position: absolute;
    inset: 1.5vw;
    border: 1px solid rgba($colorBg-WTF, 0.5);
    border-top: 1px solid rgba($colorBg-WTF, 0.75);
    border-left: 1px solid rgba($colorBg-WTF, 0.75);

    border-radius: 10px;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.45),
      inset 4px 4px 10px rgba(0, 0, 0, 0.25), ;
  }



  &_imagem_personagem {
    position: absolute;
    width: 24vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    backdrop-filter: blur(5px);

    background: rgba($cyberblue, 0.1);
    border: 1px solid rgba($colorBg-WTF, 0.5);
    border-top: 1px solid rgba($colorBg-WTF, 0.75);
    border-left: 1px solid rgba($colorBg-WTF, 0.75);

    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25),
      4px 4px 10px rgba(0, 0, 0, 0.45), ;





  }

  .informacoes {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    .titulo {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: $fonte-normal-WTF-Fox;
      font-size: 2.2vw;
      color: $colorLetra-Padrao-WTF;
      padding: 0;
      margin-top: 10px;

    }

    .subtitulo {
      width: 100%;
      height: fit-content;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      font-family: $fonte-normal-WTF;
      color: $colorBg-WTF;
      text-shadow:
            -1px -1px 0 black,
            -1px 1px 0 black,
            1px -1px 0 black,
            1px 1px 0 black;
      font-size: 2vw;
      letter-spacing: 5px;
    }

    .nome_do_personagem {
      position: absolute;
      left: -15vw;
      top: 52px;
      width: 100%;
      height: fit-content;
      text-align: center;
      margin: 0;
      padding: 0;
      font-family: $fonte-normal-WTF;
      color: $cyberblue;
      text-shadow:
        -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
      font-size: 2vw;
    }

    .titulo_lista {
      width: 100%;
      text-align: center;
      font-family: $fonte-normal-WTF-Fox;
      color: $colorLetra-Padrao-WTF;
      font-size: 1.5vw;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .container_lista {
      width: 100%;
      height: fit-content;
      padding: 0;
      margin-left: 3vw;
      margin-bottom: 0;

      li {
        width: 94%;
        font-family: $fonte-normal-WTF-Fox;
        color: $colorLetra-Padrao-WTF;
      }

    }

  }


}

.container_formulario {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &_checkbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content:center;

    margin-bottom: 10px;

    &_item {
      width: fit-content;
      height: fit-content;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $fonte-normal-WTF-Fox;
      color: $colorLetra-Padrao-WTF;
      font-size: 1em;

      label {
        margin-left: 5px;

        &:hover {

          color: $cyberblue;
          font-family: $fonte-normal-WTF;
          font-size: 1em;
          letter-spacing: 3px;
          text-shadow:
            -1px -1px 0 black,
            -1px 1px 0 black,
            1px -1px 0 black,
            1px 1px 0 black;
        }
      }
    }
  }

  &_valor {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;

&_numero{
width: fit-content;
height: fit-content;
font-family:$fonte-normal-WTF ;
color: $colorLetra-Padrao-WTF;
font-size: 2.7vw;
 text-shadow:
            -1px -1px 0 white,
            -1px 1px 0 white,
            1px -1px 0 white,
            1px 1px 0 white;
}
    textarea {
      height: fit-content;
      width: 50%;
      background-color: transparent;
      text-align: center;
      color: $colorLetra-Padrao-WTF;
      font-family: $fonte-normal-WTF-Busca;
      font-size: 30px;
      outline: none;
      border: none;
      border-radius: 4px;
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25),
        inset 2px 0px 4px rgba(0, 0, 0, 0.25);


      &:hover {
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25),
          inset 2px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25),
          inset 2px 0px 4px rgba(0, 0, 0, 0.25);
      }

      &:focus {
        border: 1px solid $colorLetra-Padrao-WTF;
      }
    }
  }

  .separador {
    width: 100%;
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}








@media screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(12%);
    margin-left: 20%;
    scale: 1.3;
  }
}