@import '../../../styles/variaveis';


.banner_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: $colorBg-WTF;
  margin-top: 100px;


}

.botao_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  top: 80px;
  z-index: 9999;
  width: 3%;

  backdrop-filter: blur(5px);
  background: rgba($colorBg-WTF, 0.1);
  border: 1px solid rgba($colorBg-WTF, 0.5);
  border-top: 1px solid rgba($colorBg-WTF, 0.75);
  border-left: 1px solid rgba($colorBg-WTF, 0.75);
  cursor: pointer;
}

.botao_container:hover {
  width: 5%;
  backdrop-filter: blur(25px);
}

.avancar {
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  top: 20px;
  right: 0px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
}

.voltar {
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  top: 20px;
  left: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.bolinhas {
  position: absolute;

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 6px;
  z-index: 9999;
}

.video_container {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 1;
  grid-row: 1;

  .video {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

}

.foto_container {
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  grid-column: 2;
  grid-row: 1;

  .imagem_backGround {
    position: absolute;
    height: 100%;
    width: 100%;
    //background-image: url('../../../assets/Banner/bannerWTF_FotoTrilha.png');
    background-repeat: repeat-y;
    background-size: cover;
    animation: moveBackground 60s linear infinite;
  }

  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0px -4010px;
    }
  }
}

/* Para smartphones com largura de 375px */
@media screen and (max-width: 767px) {

  .banner_container {

    grid-template-columns: 100%;
    top: 55px;

  }

  .botao_container {
    width: 10%;

    &_hover {
      width: 10%;
    }

  }
}


@media (max-width: 480px) {
  .botao_container{
    top: 10px;
    &_hover{
      width: 10%;
    }
  }
  
}