@import '../../../styles/variaveis';



.modal{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900000;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 100vh;
  
}

.container {
  width: 815px;
  height: 615px;
  border-radius: 50% 8px 50% 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  @include cardInternoSemBlur($colorBg-WTF-Verde);
  background-color: $colorBg-WTF;

  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 8px 50% 8px 50%;
    z-index: 10;
    @include cardInternoSemBlur($colorBg-WTF);
    background-color:$colorBg-WTF-Verde;
  }

  &_botaoFechar {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.container_personagem {
  width: 700px;
  height: 500px;
  padding: 7px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  @include cardInternoSemBlur($colorBg-WTF-Verde);
  background-color: $colorBg-WTF-Verde;
  z-index: 11;

  &_informativo {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &_foto {
    height: 100%;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  &_compras {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &_botoes {
      width: 200px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

}

@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 100px;
    width: fit-content;
    height: fit-content;
  }

}

@media (max-width: 480px) {
  .container {
    position: relative;
    top: 125px;
    width: fit-content;
    height: fit-content;
    z-index: 8000;

    &_botaoFechar {
      position: absolute;
      top: 495px;
      right: 5px;
    }
  }

  .container_personagem {
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    @include cardInternoSemBlur($colorBg-WTF-Verde);
    background-color: $colorBg-WTF-Verde;

    &_informativo {
      gap: 5px;
    }

    &_foto {
      margin-top: 5px;
    }

    &_compras {
      justify-content: space-around;
      margin: 10px 0px;
    }
  }
}