@import "../../styles/variaveis";



.container{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  color: $colorLetra-Padrao-WTF;

  margin: 10px 10px;
 

  label{
    font-family: $fonte-normal-WTF;
    font-size: 1.8vw;
    margin-left: 0px;
    margin-bottom: 2px;
    letter-spacing: 3px;

  }
  
  input{

    position: relative;
    border:none;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.25);
    width: 100%;
    outline: none;
    border-radius: 8px;
    font-size: 2vw;
    color: $colorLetra-Padrao-WTF;
    font-family: $fonte-normal-WTF-Busca;
   
    letter-spacing: 5px;

&:focus{
  box-shadow:  2px 2px 5px rgba(0,0,0,0.25);
}
    
  }
}

@media screen and (max-width: 768px) {
  
  .container{

  width: 90%;
  height: fit-content;
  color: $colorLetra-Padrao-WTF;

  margin: 10px 10px;
 

  label{
    font-family: $fonte-normal-WTF;
    font-size:7vw;
    margin-left: 0px;
    margin-bottom: 2px;
    letter-spacing: 3px;

  }
  
  input{

    position: relative;
    border:none;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.25);
    width: 100%;
    outline: none;
    border-radius: 8px;
    font-size: 7vw;
    color: $colorLetra-Padrao-WTF;
    font-family: $fonte-normal-WTF-Busca;
   
    letter-spacing: 5px;
&:focus{
  box-shadow:  2px 2px 5px rgba(0,0,0,0.25);
}
    
  }
}
}