@import '../../styles/variaveis';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 30px;
  height: fit-content;
  width: fit-content;

}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Cada card em uma coluna */
    grid-template-rows: repeat(6, auto); /* Cada card em uma linha */
    transform: none; /* Remover o deslocamento */
    justify-content: center;
    align-items: center;
  }
}
