@import '../../styles/variaveis';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 30px;
  height: fit-content;
  width: fit-content;

}