@import "../../styles/variaveis";

.cabecalho_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorBg-WTF;
  width: 100vw;
  height: 60px;
  padding: 1px 5px;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 500000000000;

}

.container_logo_e_links {
  padding-left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 40px;
 

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: fit-content;
  }

  .links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    width: 600px;
    
  }
}
.aparece{
  display: none;
}
@media screen and (max-width: 767px) {
  .cabecalho_container {
    height: fit-content;
    position: fixed;
    padding: 5px;
    top: 0px;
    left: 0px;
    z-index: 19000;

  }

  .logar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .container_logo_e_links {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-left: 4px;
 

    .links_container {
      display: none;
    }

    .logo {
  
      height: 6vh;
    }
  }
  .esconde{
    display: none;
  }
}