@import "../../../styles/variaveis";

.hamburger_container {
  display: none;
}

@media screen and (max-width: 767px) {


  .hamburger_container {
    height: fit-content;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: block;
    background-color: $colorBg-WTF;
    z-index: 500000;
&_icones{
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

  }
}