@import '../../../../styles/variaveis';


.container_Card {
  width: 180px;
  height: 259px;
  border-radius: 8px;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
}

.imgFundo {
  position: absolute;
  z-index: 0;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_base {
  position: absolute;

}

.card_personagem {
  transform: translateZ(20px);
}

//Alterar o Herói
.card_personagem_imagem {
  width: 190px;
  transform: translate(-10px, -10px);
  position: absolute;

}

.card_faixa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 259px;
  position: relative;
  transform:translateZ(30px);
}

.faixaContainer {
  position: absolute;
  top: 0px;
  right: 0px;
}

.nome_container {
  transform: translate(2px,11px);
  position: absolute;

}

//Altera o MiniCard
.miniCard_container {
  transform: translateZ(40px);
  position: relative;
  width: 100%;
  height: 100%;

  opacity: 1;
  z-index: 10;

}

.miniCard {
  width: fit-content;
  height: fit-content;
  transform: translate(-1.5px, -5px);

}

.favorito {
  position: absolute;
  bottom: 78px;
  left: 73px;
  cursor: pointer;
}

.gema {
  width: fit-content;
  height: fit-content;
}

.frase {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 57px;
  text-align: center;

  bottom: 15px;

  left: 20px;
  position: absolute;
  font-family: $fonte-normal-WTF-Azul;
  color: rgb(13, 164, 235);
  font-size: 0.85em;
  letter-spacing: 1px;
  text-shadow:
  -1px -1px 0 rgb(6, 122, 175),
  1px -1px 0 rgb(6, 122, 175),
  -1px 1px 0 rgb(6, 122, 175),
  1px 1px 0 rgb(6, 122, 175);
letter-spacing: 1px;
}

.nomeSvg_container{
  transform: translate(7px, 14px) rotateZ(0deg);

  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
}

.nome {
  transform: translate(7px, -4px) rotateZ(2deg);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  fill: $cyberblue;
  font-family: $fonte-normal-WTF-Azul;
  border: 2px solid;
    text-shadow:
  -1px -1px 0 rgb(6, 122, 175),
  1px -1px 0 rgb(6, 122, 175),
  -1px 1px 0 rgb(6, 122, 175),
  1px 1px 0 rgb(6, 122, 175);
letter-spacing: 1px;
}

