@import '../../styles/variaveis';


$botaoLargura: 50px;
$botaoAltura: $botaoLargura;
$corBackGroundBotao: $colorBotaoMenu-WTF;



.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  max-height: $botaoAltura;
  max-width: $botaoLargura;
  background: $colorBg-WTF;


  &_luz {
    position: relative;
    display: flex;
    

    &_icone {
      position: absolute;
      inset: 0;
      z-index: 101;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
      overflow: hidden;
      background-color: transparent;
      width: 100% ;
      height: 100% ;

      &_imagem {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $cyberblue;
        font-size: 30px;
        z-index: 1;
      }

    }


    &_base {
      position: relative;
      width: $botaoLargura;
      height: $botaoAltura;
      background: $colorBg-WTF;
      border: 2px solid $colorBg-WTF;
      border-radius: 10%;
      box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.25),
        4px 4px 10px rgba(0, 0, 0, 0.20);
      overflow: hidden;

      &_RGB {
        position: absolute;
        inset: calc($botaoLargura * -0.9);
        border-radius: 5%;
        filter: blur(5px);
        background: linear-gradient($corBgBotaoClaro-WTF, $cyberblue, $corBgBotaoAzulClara-WTF, $cyberblue, $corBgBotaoClaro-WTF);
        background-position: center;
        animation: animate 2s linear infinite;
      }
    }

    &_base::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 5%;
      box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
        inset -5px -5px 15px $corClaraLuz;
    }

    &_base::after {
      content: '';
      position: absolute;
      inset: calc($botaoAltura * 0.04);
      border: 12px solid $corBgBotaoShadowClara-WTF;
      background: $corBgBotaoShadowClara-WTF;
      border-radius: 5%;

    }

  }

  .container_luz_tampa {
    position: absolute;
    width: 92.5%;
    height: 92.5%;



    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    border-radius: 10%;
    background-color: $colorBg-WTF;
    border: 2px solid $colorBg-WTF;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &_imagem {
      position: absolute;
      width: 100%;
      height: 100%;
      color: $colorLetra-Padrao-WTF;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .aoClicar {
    opacity: 1;
  }

}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}