@import "../../styles/variaveis";

.container {
  width: 100vw;
  height: fit-content;


  &_direitos {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    &_titulo {
      color: white;
      margin: 0;
      padding: 0;

      &_realce {
        color: $cyberblue;
        font-family: $fonte-bold-SW;
      }

    }

  }
}

@media (max-width: 480px) {

  .container {
    width: 100vw;
    height: fit-content;


    &_direitos {

      text-align: center;

      &_titulo {

        font-size: 15px;

        &_realce {
          color: $cyberblue;
          font-family: $fonte-bold-SW;
        }
      }
    }
  }
}