@import "../../styles/variaveis";

.base {
  width: 320px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  @include cardInternoSemBlur($colorBg-WTF-Verde);
  padding: 5px;
  border-radius: 8px;
  margin: 100px 0px 0px 100px;

}
