
@import "../../styles/variaveis";


.container{
  width: 60vw;
  height: fit-content;
  margin: 0px 0px 50px 0px;
  display: flex;
  justify-content: space-around;

 

  align-items: center;
  background-image: url(../../assets/images/fundoPromoçãoA.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  padding: 20px;
 
}

.titulo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo{
  font-family: $fonte-normal-WTF;
  letter-spacing: 5px;
  font-size: 8em;
  color: $cyberblue;
  text-shadow:
    -1px -1px 0 $corCyano,
    1px -1px 0 rgb(6, 122, 175),
    -1px 1px 0 rgb(6, 122, 175),
    1px 1px 0 rgb(6, 122, 175);
  letter-spacing: 1px;
}

/* Para smartphones com largura de 375px */
@media screen and (max-width: 767px) {
.container{
  flex-direction: column;
  width: 100vw;
   background-image: url(../../assets/images/fundoPromoçãoMobile.png);
   padding-bottom: 20px;
   padding-top:0px;
}
.titulo{
  font-size: 4em;
}
}