@import '../../../styles/variaveis';


.container{
  width: 700px;
  height: 500px;
  border: 2px solid;
  display: flex;
justify-content: space-around;
align-items: center;


&_compras{
  display: flex;
  justify-content: space-around;
  align-items: center;
height: 100px;

&_botoes{
  display: flex;
  width: 200px;
  height: 100px;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

}

&_foto{
  height: fit-content;
  width: fit-content;
  border: 2px solid;

}



&_informativo{
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
}
