@import '../../../../styles/variaveis';


.container_Card {
  width: 306px;

  height: 440.30px;
  border-radius: 8px;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;

  z-index: 1;
}

.imgFundo {
  position: absolute;
  z-index: 0;
  width: 306px;
  height: 440.30px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_base {
  transform: translateZ(10px);
  position: absolute;
}


.card_personagem {
  transform: translateZ(20px);
}


//Alterar o Herói
.card_personagem_imagem {
  width: 323px;
  transform: translate(-10px, -30px);
  position: absolute;

}


.card_faixa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 306px;
  height: 440.30px;
  position: relative;
  transform: translateZ(45px);
}

.faixaContainer {
  position: absolute;

  width: 306px;
  transform: translate(0px, 121px)
}

.nome_container {
  transform: translateY(60px);
  position: absolute;
  width: 306px;
  height: fit-content;
}

.nomeSvg_container {
  position: absolute;
  transform: translate(48px, 155px) rotateZ(2deg);
  width: 190px;

}

.nome {
  position: absolute;
  font-size: 12px;
  fill: $cyberorange;
  text-shadow:
    -1px -1px 0 #644651,
    1px -1px 0 #644651,
    -1px 1px 0 #644651,
    1px 1px 0 #644651;
  font-family: $fonte-normal-WTF-Goblin;
  transform: scale(1.7);

}

//Altera o MiniCard
.miniCard_container {
  transform: translateZ(35px);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
  z-index: 10;

}

.miniCard {
  width: 306px;
  height: fit-content;
  transform: translate(-2px, -22px);

}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  height: 47px;
  text-align: center;
  bottom: 86px;
    left: 30px;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  font-family: $fonte-normal-WTF-Goblin;
  color: $cyberorange;
  font-size: 1em;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  letter-spacing: 2px;

}