@import '../../../styles/variaveis';




.container_Card {
  width: 180px;
  height: 259px;
  border-radius: 8px;
  position: relative;
  transform-style: preserve-3d;
  margin-left: 40px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url(../../../assets/images/card2/armacaoCard2.png);
  background-position: center;
  background-size: cover;
}



//-------------------------------------------------------------------------






.card_base {
  transform: translateZ(10px);

  position: absolute;
  //background: rgba(255, 255, 255, 0.1);
}



.card_personagem {
  transform: translateZ(20px);
}


//Alterar o Herói
.card_personagem_imagem {
  width: 180px;
transform: translate(0px, -10px);
  position: absolute;

}

.card_faixa {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(50px);
  width: 180px;
  height: auto;
  background-image: url(../../../assets/images/card2/faixaCard2.png);
  background-size: cover;
  background-position: center;
  position: absolute;
}

.nome_container {
  transform: translateY(4px);


}

.nome {

  
  font-size: 15px;
  fill: #644651;
  font-family: $fonte-normal-WTF;
  border: 2px solid;
}

//Altera o MiniCard
.miniCard_container {
  transform: translateZ(40px);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
  z-index: 10;
}

.miniCard {
  width: fit-content;
  height: fit-content;
}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 47px;
  text-align: center;

  bottom: 15px;
  padding: 5px 5px;
  left: 18px;
  position: absolute;
  font-family: $fonte-normal-WTF;
  color: #644651;
  font-size: 0.65em;



}

.favorito {
  position: absolute;
  bottom: 78px;
  left: 73px;
  cursor: pointer;
}


.gema {

  width: fit-content;
  height: fit-content;
}

.circleContainer {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleText {
  font-size: 16px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: center;
}