@import '../../styles/_variaveis.scss';

.container {
  position: relative;
  display: flex;
}

.container_span {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  @include cardExterno($colorBg-WTF);
}

.container_span::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 8px;

}

.container_span::after {
  content: '';
  position: absolute;
  inset: 5px;
  @include cardInterno($colorBg-WTF);
  background: $colorBg-WTF;
  border-radius: 8px;

}

//!Aqui colocar o valor da largura e as cores do Loading
.container_span i {
  position: absolute;
  width: 200%;
  height: 200%;
  inset: -50%;
  filter: blur(30px);
  background: linear-gradient($cyberblue , $cybergreen, $cyberyellow);
  background-position: center;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container_conteudo {
  position: absolute;

  inset: 28px;
  background-color: $colorBg-WTF;
  z-index: 10;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    top: 0px;
   left: 0px;
    width: fit-content;
    height: fit-content;
  }

  .container_span {
    position: relative;
    width: 310px;
    height: 550px;


    border-radius: 8px;
    overflow: hidden;
    @include cardExterno($colorBg-WTF);
  }

  .container_span::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;

  }

  .container_span::after {
    content: '';
    position: absolute;
    inset: 10px;

  }

  .container_conteudo {
    position: absolute;
    inset: 7px;
    background-color: $colorBg-WTF;
    z-index: 10;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}